<h1> Edit this list</h1>

<%= form_for(@list) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.submit %>
<% end %>

<br>

<% @list.tasks.each do |t| %>
  <%= form_for(t) do |f| %>
    <%= f.label(:description) %>
    <%= f.text_field(:description) %>
    <br>
    <%= f.submit %>
  <% end %>
  <%= button_to 'Delete Task', task_path(t), method: :delete %>



  Assign task to person:
  <%= form_for(t) do |f| %>
    <%= f.select :person_ids, Person.all.collect{|p| [p.name, p.id]} %>
  <%= f.submit %>
  <% end %>


  <ul>
    <% t.persons.each do |p| %>
      <%= form_for(p) do |f| %>
      <li>
        <%= f.label("person assigned") %>
        <%= f.text_field(:name) %>
      </li>
      <%= f.submit %>
    <% end %>
    <%= button_to 'Delete Person', person_path(p), method: :delete %>
    <% end %>
   </ul> 
  <br>  
<% end %>


