<h1> Edit this list</h1>

<%= form_for(@list) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.submit %>
<% end %>

<br>

<% @list.tasks.each do |t| %>
  <%= form_for(t) do |f| %>
    <%= f.label(:description) %>
    <%= f.text_field(:description) %>
    <br>
    <%= f.submit %>
  <% end %>
  <%= button_to 'Delete Task', task_path(t), method: :delete %>
 
  <%= form_for(t) do |f| %>
    Assign task to user:<br>
    <% User.all.each do |user| %>
      <% if t.users.map {|u| u.id}.include?(user.id) %>
      <input type="checkbox" name="task[user_ids][]" value="<%= user.id %>" checked /> <%= user.name %>
      <br>
      <% else %>
      <input type="checkbox" name="task[user_ids][]" value="<%= user.id %>"/> <%= user.name %>
      <br>
      <% end %>
    <% end %>

  <%= f.submit %>
  <% end %>

  <br>  
<% end %>


