<h1> Edit this list</h1>

<%= form_for(@list) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.submit %>
<% end %>

<br>

<% @list.tasks.each do |t| %>
  <%= form_for(t) do |f| %>
    <%= f.label(:description) %>
    <%= f.text_field(:description) %>
    <br>
    <%= f.submit %>
  <% end %>
  <%= button_to 'Delete Task', task_path(t), method: :delete %>
 
  <%= form_for(t) do |f| %>
    Assign task to person:<br>
    <% Person.all.each do |person| %>
      <% if t.persons.map {|p| p.id}.include?(person.id) %>
      <input type="checkbox" name="task[person_ids][]" value="<%= person.id %>" checked /> <%= person.name %>
      <br>
      <% else %>
      <input type="checkbox" name="task[person_ids][]" value="<%= person.id %>"/> <%= person.name %>
      <br>
      <% end %>
    <% end %>

  <%= f.submit %>
  <% end %>

  <br>  
<% end %>


