<h1><%= @list.name %></h1>

<ul>
  <% @list.tasks.each do |t| %>
    <li>
      <%= t.description %> 
      <% if t.users.present? %>
      -
      <% end %>
      <% i=0 %>
      <% t.users.each do |u| %>
        <%= u.name %>
        <% i+=1 %>
        <% if i < t.users.size %>
        ,
        <% end %>
        
      <% end %>
    </li>
  <% end %>
</ul>

<h3> Add tasks to this list</h3>
<%= form_for(@task) do |f| %>
  <%= f.hidden_field(:list_id) %>
  <%= f.label(:description) %>
  <%= f.text_field(:description) %>
  <br>
  <%= f.label("Assign to user :") %>
  <% User.all.each do |u| %>
    <br>
    <input type="checkbox" name="task[user_ids][]" value="<%= u.id %>" /> <%= u.name %>
  <% end %>
  <br>
  <br>
  <%= f.submit %>
<% end %>


<div class="list_nav">
  <ul>
    <li>
      <%= link_to "Delete this list", list_path, method: :delete %>
    </li>
    <li>
      <%= link_to "Edit this list", edit_list_path %>
    </li>
  </ul>
</div>
<br>
<br>