<h1><%= @list.name %></h1>

<ul>
  <% @list.tasks.each do |t| %>
    <li>
      <%= t.description %> 
      <% if t.persons.present? %>
      -
      <% end %>
      <% i=0 %>
      <% t.persons.each do |p| %>
        <%= p.name %>
        <% i+=1 %>
        <% if i < t.persons.size %>
        ,
        <% end %>
        
      <% end %>
    </li>
  <% end %>
</ul>

<h3> Add tasks to this list</h3>
<%= form_for(@task) do |f| %>
  <%= f.hidden_field(:list_id) %>
  <%= f.label(:description) %>
  <%= f.text_field(:description) %>
  <br>
  <br>
  <%= f.submit %>
<% end %>

<div class="list_nav">
  <ul>
    <li>
      <%= link_to "Delete this list", list_path, method: :delete %>
    </li>
    <li>
      <%= link_to "Edit this list", edit_list_path %>
    </li>
  </ul>
</div>
<br>
<br>