<h1> Add tasks</h1>
<%= form_for(@task) do |f| %>
  <%= f.label(:description) %>
  <%= f.text_field(:description) %>
  <br>
  <%= f.label("Add to list :") %>
  <%= f.select :list_id, List.all.collect { |l| [l.name, l.id]} %>
  <br>
  <br>
  <%= f.label("Assign to person :") %>
  <% Person.all.each do |p| %>
    <br>
    <input type="checkbox" name="task[person_ids][]" value="<%= p.id %>" /> <%= p.name %>

  <% end %>
  <br>
  <%= f.submit %>
<% end %>