<!DOCTYPE html>
<html>
<head>
  <title>TodolistApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="background">

<%= yield %>

<nav class="nav_links">
  <ul>
    <li class="first"><%= link_to "Home", root_path%></li>
    <li><%= link_to "Create a list", new_list_path%></li>
    <li><%= link_to "Add tasks", new_task_path%></li>
  </ul>
</nav>
</div>
</body>
</html>
